

  <div class = "container">

      <div class = "row padd_top">

        
      </div>

      <hr class = "top" />

    <div class = "row">

        <div class="card">

            <avatar style="padding-left: 21%; padding-top: 2%;" [size] = 121 name="authService.user.display_name" [displayType]="'circle'"></avatar>
        
            <h1>John Doe</h1>
            <p class="title" style="padding-left: 1%; padding-right: 1%">CEO & Founder, Example</p>
            <div style="margin: 24px 0;">
              <a href="#"><i class="fa fa-dribbble"></i></a> 
              <a href="#"><i class="fa fa-twitter"></i></a>  
              <a href="#"><i class="fa fa-linkedin"></i></a>  
              <a href="#"><i class="fa fa-facebook"></i></a> 
           </div>
           <p><button>enigcreator@gmail.com</button></p>
          </div>


          <div class="card">

              <avatar style="padding-left: 21%; padding-top: 2%;" [size] = 121 name="authService.user.display_name" [displayType]="'circle'"></avatar>
          
              <h1>John Doe</h1>
              <p class="title">CEO & Founder, Example</p>
              <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-dribbble"></i></a> 
                <a href="#"><i class="fa fa-twitter"></i></a>  
                <a href="#"><i class="fa fa-linkedin"></i></a>  
                <a href="#"><i class="fa fa-facebook"></i></a> 
             </div>
             <p><button>enigcreator@gmail.com</button></p>
            </div>



            <div class="card">

                <avatar style="padding-left: 21%; padding-top: 2%;" [size] = 121 name="authService.user.display_name" [displayType]="'circle'"></avatar>
            
                <h1>John Doe</h1>
                <p class="title">CEO & Founder, Example</p>
                <div style="margin: 24px 0;">
                  <a href="#"><i class="fa fa-dribbble"></i></a> 
                  <a href="#"><i class="fa fa-twitter"></i></a>  
                  <a href="#"><i class="fa fa-linkedin"></i></a>  
                  <a href="#"><i class="fa fa-facebook"></i></a> 
               </div>
               <p><button>enigcreator@gmail.com</button></p>
              </div>

              

              <hr class = "top" />
    </div>

  </div>