				<div class="following bar light">
				<div class="ui container">
					<div class="ui grid">
						<div class="column">
							<div class="ui top secondary menu">
								<a class="item brand" routerLink="/">
									<img [src] = "path" class="ui mini image">
								</a>


              <!--  <a *ngIf = "currentRoute === '/splash'"class="item" >{{currentRoute}}</a> -->
                <a *ngIf = "!isLoggedIn" class="item" routerLink="/">Explore</a>
                <a class="item" routerLink="/users">Users</a>
                <a class="item" routerLink="/help">Help</a>
                
                <div *ngIf="!isLoggedIn" class="right menu">
											<a class="item" routerLink="/signup">
												<i class="fa fa-user fa-fw" aria-hidden="true"> </i> Register
											</a>
										<a class="item" routerLink="/signin">
                      <i class="fas fa-sign-in-alt fa-fw"></i> Sign In
										</a>
								</div><!-- end anonymous right menu -->
 

                <div *ngIf="isLoggedIn" class="right menu">
                   
                    <div class="dropdown show item">
                        <i class= "fas fa-plus fa-fw"></i>
                        <i class="fas fa-caret-down fa-fw" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
          
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" routerLink="/ask">Ask Question</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" routerLink="/inbox">Inbox</a>
                        </div>
                      </div>


                      <!-- User Drop Down -->

                      <div class="dropdown show item">
                          <avatar *ngIf = "!path2" [size] = 30 [name]="authService.user.display_name" [displayType]="'circle'"></avatar>
                          <img *ngIf = "path2" [src] = "path2" alt="Avatar" class = "avatar">
                          <i class="fas fa-caret-down fa-fw" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
            
                        
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" routerLink="/profile">My Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" (click)="logOut()">Log out</a>
                          </div>
                        </div>

                      <!-- User Drop Down End-->



              </div><!-- end anonymous right menu -->

							</div><!-- end top menu -->
						</div><!-- end column -->
					</div><!-- end grid -->
				</div><!-- end container -->
      </div><!-- end bar -->
      










<!--


      <div class="following bar">
          <div class="ui container">
            <div class="ui grid">
              <div class="column">


                <div class="ui top secondary menu">
  
                <!--  <a *ngIf = "currentRoute === '/splash'"class="item" >{{currentRoute}}</a> -->
                <!--  <a class="item" routerLink="/">Home</a>
                 

                  
                  <div  class="right menu">
                    <!--  <button class="ui green button" >
                        <i class="fas fa-sign-in-alt fa-fw"></i> Create Topic
                      </button> -->
                 <!-- </div><!-- end anonymous right menu -->
  
  
          







             <!--   
  
                </div><!-- end top menu -
              </div><!-- e
            </div><!-- end g
          </div><!-- end cont
        </div><!-- end bar -->










































































      <!--
      <form class="form-inline my-2 my-lg-0" (submit) = "onLoginSubmit()">
          <input *ngIf="!loginButtonStatus && !disableAll" class="form-control mr-sm-2" [(ngModel)]="email"  [ngModelOptions]="{standalone: true}" type="email" placeholder="Email" aria-label="Email">
          <input *ngIf="!loginButtonStatus && !disableAll" class="form-control mr-sm-2" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" placeholder="Password" aria-label="Password">
          <a  *ngIf="loginButtonStatus && !disableAll"class="btn my-1 text-light btn-outline-primary" (click)="toggleLoginButton()" >Sign In</a>
          <input *ngIf="!loginButtonStatus && !disableAll" type="submit" class="btn my-1 text-light btn-outline-primary" value = "Go!" >
          &nbsp;
          <a  *ngIf="!loginButtonStatus && !disableAll" class="btn my-1 text-light btn-outline-primary" (click)="toggleLoginButton()" >Cancel</a>
          <a  *ngIf="disableAll" class="btn my-1 text-light btn-outline-primary" (click)="logOut()" >Logout</a>
      
        </form>-->
