<div class = "container search-results style-1"
      ngx-auto-scroll lock-y-offset="1" observe-attributes
      infiniteScroll
      [infiniteScrollDistance]="0"
      [infiniteScrollThrottle]="150"
      (scrolled)="onScroll()"
      (scrolledUp)="upScroll()"
      [infiniteScrollDisabled]="isFullListDisplayed"
      [scrollWindow]="false">

             
                    <ul  *ngFor= "let message of chat" class="chat">
                      <div *ngIf = "message.from_user_id != authService.user.id" class = "d-flex flex-row">
                        <div class = "col-6-auto">
                            <li  class="left clearfix"><span class="chat-img pull-left">
                                <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                            </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">{{recipient_name}}</strong> <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time"></span>{{message.time | date}}</small>
                                    </div>
                                    <p>
                                        {{message.message}}
                                    </p>
                                </div>
                            </li>

                        </div>
                        </div>

                        <div *ngIf = "message.from_user_id == authService.user.id" class = "d-flex flex-row-reverse">
                        <div class = "col-6-auto ">
                            <li  class="right clearfix"><span class="chat-img pull-right">
                                <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                            </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{message.time | date}}</small>
                                        <strong class="pull-right primary-font">{{authService.user.display_name}}</strong>
                                    </div>
                                    <p>
                                        {{message.message}}
                                    </p>
                                </div>
                            </li>

                        </div>
                      </div>
                        
                        
                    </ul>



                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="btn-input" type="text" [(ngModel)] = "text" class="form-control input-sm" placeholder="Type your message here..." />
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-sm" (click)="sendMessage()" id="btn-chat">
                                    Send</button>
                            </span>
                        </div>
                    </div>
                </div>
                


<!--

<div class = "search-results style-1"
      ngx-auto-scroll lock-y-offset="10" observe-attributes
      infiniteScroll
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="150"
      (scrolled)="onScroll()"
      (scrolledUp)="upScroll()"
      [infiniteScrollDisabled]="isFullListDisplayed"
      [scrollWindow]="false">


      <div *ngFor = "let message of chat" class="panel-body">
          <ul class="chat">
             
              <li *ngIf = "message.from_user_id != authService.user.id" class="left clearfix"><span class="chat-img pull-left">
                  <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
              </span>
                  <div class="chat-body clearfix">
                      <div class="header">
                          <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
                              <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                      </div>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                          dolor, quis ullamcorper ligula sodales.
                      </p>
                  </div>
              </li>
              <li *ngIf = "message.from_user_id == authService.user.id" class="right clearfix"><span class="chat-img pull-right">
                  <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
              </span>
                  <div class="chat-body clearfix">
                      <div class="header">
                          <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                          <strong class="pull-right primary-font">Bhaumik Patel</strong>
                      </div>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                          dolor, quis ullamcorper ligula sodales.
                      </p>
                  </div>
              </li>
          </ul>
          </div>


      
  </div>

<div class="col-md-12">
  <form class="form-inline">
    <div class="input-group">
      <input type="text" class="form-control px-4 " [(ngModel)]= "text" [ngModelOptions]="{standalone: true}" placeholder="Your message">
      <div class="input-group-append">
        <div class="btn btn-primary try" (click) = "sendMessage()" type="button">Send!</div>
      </div>
    </div>
  </form>
</div>

-->