<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div class="logo">
				<img [src] = "path" />
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					ProConnect
				</h1>
				<h2>A self hosted StackoverFLOW!</h2>
			</div>
		</div>
	</div>
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					 Easy to Use
				</h1>
				<p class="large">
					Simply stay connected with all your work mates
				</p>
			</div>
			<div class="eight wide center column">
          <h1 class="hero ui icon header">
             Cross-platform
				</h1>
				<p class="large">
					ProConnect runs on Windows, macOS, Linux, ARM, etc. Choose the one you love!
				</p>
			</div>
		</div>
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					 Lightweight
				</h1>
				<p class="large">
				All you need is a web browser and that's it!
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					 Open Source
				</h1>
				<p class="large">
         It's created by your university fellows and can be updated by you too!
				</p>
			</div>
		</div>
</div>
