    <div class="user signup">
        <div class="ui middle very relaxed page grid">
          <div class="column">
            <form class="ui form">
              <h3 class="ui top attached header">
                  Sign up for ProConnect
              </h3>
              <div class="ui attached segment">
                  <div class="required inline field ">
                    <label for="user_name">Username</label>
                    <input id="user_name" name="user_name"  autofocus required>
                  </div>
                  <div class="required inline field ">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="email" required>
                  </div>
                  <div class="required inline field ">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" value= required>
                  </div>
                  <div class="required inline field ">
                    <label for="retype">Re-type</label>
                    <input id="retype" name="retype" type="password"  required>
                  </div>
      
                  <div class="inline field">
                    <label></label>
                    <button class="ui green button">Create New Account</button>
                  </div>
                  <div class="inline field">
                    <label></label>
                    <a href="{{AppSubURL}}/user/login">Already have an account? Sign in now!</a>
                  </div>
              </div>
            </form>
          </div>
        </div>
      </div>

