<div *ngIf="currentParamType == 1"class="home">
    <div class="ui stackable middle very relaxed page grid">
        <div class="sixteen wide center aligned centered column">
            <div class="logo">
                <i class = "fa fa-check fa-5x"></i>
            </div>
        </div>




    </div>
</div>




<div *ngIf="currentParamType == 2"class="home">
    <div class="ui stackable middle very relaxed page grid">
        <div class="sixteen wide center aligned centered column">
            <div class="logo">
                <i class = "fa fa-times fa-5x"></i>
            </div>
        </div>




    </div>
</div>

