<!--
<div class="search-results"
infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="50"
(scrolled)="onScroll()"
[infiniteScrollDisabled]="isFullListDisplayed"
[scrollWindow]="false">
    <div *ngFor="let item of itemsToShow;  let i = index">
      <span> {{i + ' ' + item.id}} </span>
    </div>
</div>

<button (click) = "onScroll()">push</button>

-->



<div class = "ui container">


  <div class = "ui grid">

      <div class = "row">
  
          <h1>
              <span class = "fas fa-check-circle fa-fw"></span>

              I can no longer work from home over VPN ?
          </h1>

      </div>


      <div class = "row">

          <h6>

              By @Magnus26 days ago

          </h6>

      </div>


      <div class = "row">


          <md-editor name="Content" [preRender]="preRenderFunc" [mode]="preview" [options]="options" required maxlength="500"></md-editor>


      </div>





  </div>







</div>





























