
<div class = "container-fluid search-results style-1" 
infiniteScroll
[infiniteScrollDistance]="10"
[infiniteScrollThrottle]="50"
(scrolled)="onScroll()"
[infiniteScrollDisabled]="isFullListDisplayed"
[scrollWindow]="false">

<!--Title Row-->

 <div class = "row title">
    <blockquote class="blockquote">
        <h4 class="display-4">{{currentThread[0].brief}}</h4>
        <p class="blockquote-footer no-padding"><strong>{{currentThread[0].name}}</strong> </p>
        <p class ="light small2" >Created by <a href="">{{currentThread[0].display_name}}</a> on {{original_post[0].date_created | date}}</p>
    </blockquote>
</div>
        <div class = "row padd_left_low">
    
            <div class = "col-8">  
                <div class="row">
                    <i class="fas fa-tags fa-lg fa-fw"></i> &nbsp;
                    <div *ngFor = "let tag of currentThread[0].tags" class = "tags">
                    <a *ngIf = "tag.name!= 'null' " href="">{{tag.name}}</a>
                </div> 
                </div>
             </div>

            <div class = "col-2">
                <div class = "row">
                <i class = "fas fa-pencil-alt fa-lg fa-fw"></i>&nbsp;<p class = "lead">{{currentThread[0].answers_count}} Answers</p> &nbsp;
                &nbsp;<i class = "fas fa-heart fa-lg fa-fw" (click)="setAssoc()"></i>&nbsp;<p class = "lead">Like</p>
                </div>
            </div>

            <div class = "col-2">
                <div class = "row">
                    <i class="fas fa-plus fa-lg fa-fw" (click)="open(currentThread[0].id)"></i>&nbsp;<p class = "lead">Add Answere</p>&nbsp;
                </div>
            </div>

            
        </div>

        <hr class = "top"/>


<!--Information Row-->

<div class = "row">



    <!--Blank Space on Left of the page-->


    <div class = "col-1">
        
    </div>




    <!--Main Topic Section-->

    <div class = "col-8">

        

    <div class = "row ">
            <div class = "col-1 no-padding">
                <avatar [size] = 50 [name]="original_post[0].display_name" [displayType]="'circle'"></avatar>
            </div>

            <div class = "col-11">
                <div class = "row">
                    <div class="card no-padding">
                            <div class="card-header">
                            {{original_post[0].display_name}} <small class = "light">joined on {{original_post[0].join_date | date}} - Senior</small>

                            <i class="text-muted fas fa-arrow-up fa-lg float_right fa-fw" (click) = "upVoteOP(original_post[0].id)"></i>&nbsp;
                            <h6 class="text-muted float_right fa-fw">{{original_post[0].up_vote - original_post[0].down_vote}}</h6>&nbsp;
                            <i class="text-muted fas fa-arrow-down fa-lg float_right fa-fw" (click) = "downVoteOP(original_post[0].id)"></i>&nbsp;
                            </div>
                            <div class="card-body">
                           
                                <markdown [data]="original_post[0].details"></markdown>

                            </div>
                            <div class="card-footer text-muted">
                                    {{original_post[0].days}} days ago
                                    <i class="fas fa-reply-all fa-lg float_right" (click)="open_comment(original_post[0].id)"></i>
                            </div>
                    </div>
                </div>

                <!--Comment Section per Post-->
                <div *ngFor = "let comment of original_post[0].comments" class = "row">


                    <div class = "col-2">

                    </div>


                    <div class = "col-10">

                        <div class ="row padd_right_low">

                            <hr class = "top" />

                            <p class = "text-right font-weight-normal">{{comment.brief}} - by <a href = "">{{comment.display_name}}</a> at {{comment.date_created | date}}</p>

                        </div>

                        

                    </div>



                </div>


                <hr class = "top"/>
            </div>

            
    </div>












    <div *ngFor = "let post of itemsToShow; let i = index" class = "row ">
            <div class = "col-1 no-padding">
                <avatar [size] = 50 [name]="post.user.display_name" [displayType]="'circle'"></avatar>
            </div>

            <div class = "col-11">
                <div class = "row">
                    <div class="card no-padding">
                            <div class="card-header">
                            {{post.user.display_name}} <small class = "light">joined on {{post.user.join_date | date}} - Senior</small>

                            <i class="text-muted fas fa-arrow-up fa-lg float_right fa-fw" (click) = "upVote(post.id, i)"></i>&nbsp;
                            <h6 class="text-muted float_right fa-fw">{{post.up_vote-post.down_vote}}</h6>&nbsp;
                            <i class="text-muted fas fa-arrow-down fa-lg float_right fa-fw" (click) = "downVote(post.id, i)"></i>&nbsp;
                            </div>
                            <div class="card-body">
                           
                                <markdown [data]="post.details"></markdown>

                            </div>
                            <div class="card-footer text-muted">
                                    {{post.days}} days ago
                                    <i class="fas fa-reply-all fa-lg float_right" (click)="open_comment(post.id)"></i>
                            </div>
                    </div>
                </div>

                <!--Comment Section per Post-->
                <div *ngFor = "let comment of post.comments" class = "row">


                    <div class = "col-2">

                    </div>


                    <div class = "col-10">

                        <div class ="row padd_right_low">

                            <hr class = "top" />

                            <p class = "text-right font-weight-normal">{{comment.brief}} - by <a href = "">{{comment.display_name}}</a> at {{comment.date_created | date}}</p>

                        </div>

                        

                    </div>



                </div>


                <hr class = "top"/>
            </div>

            
    </div>






























    
    
    
    </div>



    <!-- Similar Posts Section -->

    <div class = "col-3">

            <div class="card bg-light mb-3 padd" style="max-width: 18rem;">
                    <div class="card-header"><strong>Similar Posts</strong></div>
                    <div class="card-body">

                            <div class = "row padd_low" >
                                
                                    <a href = ""><p class="small2">Brief Cruisetronic</p></a>
                                
                                </div>
                                <div class = "row padd_low" >
                                        
                                    <a href = ""><p class="small2">Toyota Corolla 11th Gen Facelift In Pakistan</p></a>
                                  
        
                                </div>
                                <div class = "row padd_low" >
                                            
                                    <a href = ""><p class="small2">Restoration of Corolla 1994 & 7afe Swap</p></a>
                                   
        
                                </div>
                                <div class = "row" >
                                                
                                    <a href = ""><p class="small2">Poured MOLY GREEN 0W20 in engine, decreased throttle respone</p></a>
                                 
        
                                </div>

                                <div class = "row padd_low" >
                                
                                        <a href = ""><p class="small2">Brief Cruisetronic</p></a>
                                    
                                    </div>
                                    <div class = "row padd_low" >
                                            
                                        <a href = ""><p class="small2">Toyota Corolla 11th Gen Facelift In Pakistan</p></a>
                                      
            
                                    </div>
                                    <div class = "row padd_low" >
                                                
                                        <a href = ""><p class="small2">Restoration of Corolla 1994 & 7afe Swap</p></a>
                                       
            
                                    </div>
                                    <div class = "row" >
                                                    
                                        <a href = ""><p class="small2">Poured MOLY GREEN 0W20 in engine, decreased throttle respone</p></a>
                                     
            
                                    </div>




                    </div>
            </div>


            <div class="card bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header"><strong>Similar Tags</strong></div>
                    <div class="card-body">

                            <div class = "tags">
                                    <i class="fas fa-tags fa-lg fa-fw"></i>
                                    <a href="http://www.jquery2dotnet.com/search/label/css">CSS</a> <a href="http://www.jquery2dotnet.com/search/label/Javascript">Java Script</a>
                                    <a href="http://www.jquery2dotnet.com/search/label/jquery">jQuery</a> <a href="http://www.jquery2dotnet.com/search/label/html5">HTML5</a> <a href="http://www.jquery2dotnet.com/search/label/css3">CSS3</a>
                                </div> 


                    </div>
            </div>
    </div>

    
    </div>
</div>