
<div class="card text-center border">
        <div class="card-header">
                
            <div class = "row">


            </div>


          <ul class="nav nav-tabs card-header-tabs nav-justified">
            <li class="nav-item">
              <a class="nav-link active" >Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click) = "navigate(newest)">Newest</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" routerLink = '/dhome/top' >Top</a>
            </li>
            <li *ngIf = "isLoggedIn" class="nav-item">
              <a class="nav-link "(click) = "subscribed()">Subscribed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">FAQ</a>
            </li>
          </ul>
        </div>
</div>
        
        
<div class="container search-results"
infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="50"
(scrolled)="onScroll()"
[infiniteScrollDisabled]="isFullListDisplayed"
[scrollWindow]="false">
     

        <div class="card-body">


            <div class = "row top2">

             <div class = "col-6 CP1">
                    <p class="light">Category</p>
             </div>
             <div class = "col-5">
                    <p class="light">Latest</p>
             </div>
             <div class = "col-1">
                    <p class="light">Threads</p>
             </div>

             <hr class="top"/>

            </div>
        
            <div *ngFor = "let cat of categories" class = "row">


                    <div class = "col-6 CP1">

                        <div class = "row T2">
                            <h5><b>{{cat.name}}</b></h5>
                        </div>
                        <div class = "row T3">
                            <p class="light">{{cat.brief}}</p>
                        </div>
                        <div class = "row T2">
                                <div *ngFor = "let tag of cat.tags"  class="tags">
                                     <a href = "">{{tag.name}}</a>
                                      
                                </div>
                        </div>


                    </div>
                    <div class = "col-5 CP2">

                        <div *ngFor = "let thread of cat.threads" class = "row padd_low" >
                                
                            <a [routerLink] = "['/thread', thread.id]" ><p class="small2">{{thread.brief}}</p></a> &nbsp;
                            <p class = "small4 light">6h</p>
                        </div>
                    


                    </div>
                    <div class = "col-1 VA" >

                        <h3 class = "light">{{cat.thread_count}}</h3>
                        <h6 class = "light">posts</h6>

                    </div>

                    <hr class="top"/>


            </div>

           


















            

        </div>



</div>

